/*开始介绍的css*/
.jieshaoClass {
	background-color: #c0c0c0;
	width: 600px;
	height: 416px;
	margin: auto;
}

.jieshaoClass H1 {
	text-align: center;
}

.jieshaoClass OL, .jieshaoClass UL, .jieshaoClass LI {
	font-size: 15pt;
	font-weight: bold;
}